---
const { post, isPreview = false } = Astro.props;
---

<article class="mb-16 [&:last-of-type]:mb-0">
  <header>
    <a href={post.data.url}>
      <h1 class="text-3xl font-bold md:text-4xl mb-0">{post.data.title}</h1>
    </a>
    <p class="mt-1 mb-4 text-sm text-zinc-500">
      posted on {
        post.data.date.toLocaleString("default", {
          month: "short",
          day: "numeric",
          year: "numeric",
          timeZone: "UTC",
        })
      }
      {
        post.data.tags.map((tag) => (
          <a href={`/blog/tags/${tag}`} class="ml-2 lowercase">
            <span class="before:content-['#']">{tag}</span>
          </a>
        ))
      }
    </p>
  </header>
  <section>
    <slot />
  </section>
  {
    !isPreview && (
      <footer class="mt-6">
        <p class="mt-6">
          Updated on{" "}
          {post.data.updated.toLocaleString("default", {
            month: "short",
            day: "numeric",
            year: "numeric",
            timeZone: "UTC",
          })}
        </p>
        <div id="disqus_thread" />
        <noscript>
          Please enable JavaScript to view the{" "}
          <a href="https://disqus.com/?ref_noscript">
            comments powered by Disqus.
          </a>
        </noscript>
      </footer>
    )
  }
</article>
