---
import cx from "@/lib/cx";

const { isActive, class: className, ...props } = Astro.props;
---

<a
  class={cx(
    "inline-block md:block mx-2 md:mx-0 my-4 md:pr-2 md:border-r-3 md:border-r-transparent hover:text-zinc-100",
    isActive && "border-b-3 md:border-b-0 md:border-r-zinc-200 md:border-r-3",
    className,
  )}
  {...props}
>
  <slot />
</a>
