---
import { getCollection } from "astro:content";

import Layout from "@/layouts/Layout.astro";
import Article from "@/components/Article.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  const tags = new Set();
  posts.forEach((post) => {
    post.data.tags.forEach((tag) => {
      if (!tags.has(tag)) {
        tags.add(tag);
      }
    });
  });

  return Array.from(tags).map((tag) => {
    return {
      params: { tag },
      props: {
        posts: posts
          .filter((post) => post.data.tags.includes(tag))
          .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf()),
      },
    };
  });
}

const { posts } = Astro.props;
---

<Layout title="Carson's Blog">
  {posts && posts.map((post) => <Article post={post} isPreview={true} />)}
  <div class="mt-20 text-center">
    <a href="/blog/archive" class="font-bold text-2xl underline">
      View all posts
    </a>
  </div>
</Layout>
