---
import { Image } from "astro:assets";

import "@/styles/global.css";
import NavLink from "@/components/NavLink.astro";
import avatar from "@/assets/avatar.jpg";

const { pathname } = Astro.url;
const { title = "Welcome" } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-zinc-50 text-zinc-600 h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon-48x48.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="/favicon-192x192.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col h-full">
    <header
      class="site-header md:fixed w-full md:w-[30%] lg:w-[35%] md:h-full flex flex-col items-center lg:items-end p-4 md:py-20 md:px-6 lg:py-30 lg:px-10 xl:py-40 xl:px-20 text-center lg:text-right text-zinc-300"
    >
      <a href="/">
        <Image
          src={avatar}
          alt="Avatar"
          width={150}
          decoding="async"
          loading="eager"
          class="rounded-full"
        />
      </a>
      <h1 class="text-inherit text-2xl lg:text-5xl my-4 lg:mb-8">I'm Carson</h1>
      <p class="lg:ml-12">I do web stuff and things, and also photography</p>
      <nav class="mt-5 md:mt-10 py-5 text-right">
        <NavLink href="/" isActive={pathname === "/"}>Home</NavLink>
        <NavLink href="/blog" isActive={pathname.startsWith("/blog")}
          >Blog</NavLink
        >
        <NavLink href="/contact" isActive={pathname === "/contact"}
          >Contact</NavLink
        >
      </nav>
      <footer class="hidden md:block mt-auto">&copy; Carson Evans</footer>
    </header>
    <main
      class="md:ml-[30%] lg:ml-[35%] md:w-[70%] lg:w-[65%] max-w-4xl py-10 xl:py-40 md:py-20 lg:py-30 px-5 md:px-10 lg:px-20"
    >
      <slot />
    </main>
    <footer
      class="bottom-footer mt-auto px-4 py-12 md:hidden text-center text-zinc-300"
    >
      &copy; Carson Evans
    </footer>
  </body>
</html>
<style>
  .site-header {
    background-position: 0;
    background-attachment: scroll;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/bg.jpg");
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }

  .bottom-footer {
    background-position: 0;
    background-attachment: scroll;
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/bg.jpg");
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
  }
</style>
